@height: 60px;

.default-layout {
  width: 100vw;
  height: 100vh;

  .layout-header {
    height: @height;
    line-height: @height;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
  }

  .layout-content{
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }

  .layout-sider {
    border-right: 1px solid #e8e8e8;

    &-header {
      height: @height;
      line-height: @height;

      &-logo {
        width: 26px;
      }

      &-title {
        margin: 0 0 0 10px;
        font-size: 18px;
        color: #2c3a61;
      }
    }

    &-menu {
      border-width: 0;
    }
  }
}
