.default-layout {
  width: 100vw;
  height: 100vh;

  .dlayout-header{
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;


    &-logo {
      width: 30px;
    }

    &-left-title {
      margin: 0 0 0 10px;
      font-size: 18px;
      color: #2c3a61;
    }
  }

  .layout-sider {
    border-right: 1px solid #e8e8e8;

    &-header{
      margin: 16px 0 0;
    }
  }
}