@treeHeight: 35px;

.ant-table-wrapper {
  input {
    margin: -5px 0;
  }
}


li.ant-tree-treenode-disabled {
  & > span:not(.ant-tree-switcher),
  & > .ant-tree-node-content-wrapper,
  & > .ant-tree-node-content-wrapper span {
    color: inherit !important;
    cursor: pointer !important;
  }
}

.error-ui {
  .ant-input {
    .errorStyle();
  }

  .ant-select-selector {
    .errorStyle();
  }

  .errorStyle() {
    border-color: var(--color-error) !important;
  }

  &.ant-select-focused .ant-select-selector {
    .errorFocusStyle();
  }

  .errorFocusStyle() {
    box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2) !important;
  }

  .ant-select-selection-placeholder {
    color: var(--color-error);
  }
}

.no-border {
  .ant-select-selector {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}
