:root {
  --sider-dark-background: #191a23;
  --sider-dark-sub-background: #101117;
  --public-header-background: #f0f2f5;
}

.ant-table-wrapper {
  input {
    margin: -5px 0;
  }
}

.ant-form-item {
  &-label {
    line-height: 32px;
  }

  &-control {
    height: 32px;
    line-height: 32px;

    &-wrapper {
      flex: 1;
    }
  }
}
