.w100 {
  width: 100%;
}

.cur-p {
  cursor: pointer;
}

.w-20 {
  width: 20px;
}

.w-260 {
  width: 260px;
}

.br-8{
  border-radius: 8px;
}

.inline-block {
  display: inline-block;
}

.bg-white {
  background: var(--color-background-override);
}

.flex-item{
  flex: 1;
}



.default-shadow {
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}