@import './transition/index.less';

.index {
  &-middle {
    display: flex;
    align-items: center;
  }

  &-center {
    display: flex;
    justify-content: center;
  }

  &-space-between{
    display: flex;
    justify-content: space-between;
  }

  &-disabled {
    cursor: default !important;
    opacity: 0.38;
  }

  &-center-middle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}