@import "./transition/index.less";

.index {
  &-middle {
    display: flex;
    align-items: center;
  }

  &-center {
    display: flex;
    justify-content: center;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-space-between {
    display: flex;
    justify-content: space-between;
  }

  &-disabled {
    cursor: default !important;
    opacity: 0.38;
  }

  &-center-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-card {
    padding: 16px;
    margin: 16px;
    background: #fff;
    border-radius: 4px;
  }

  &-table-search {
    &.index-card {
      padding: 16px 0;
    }

    &-button {
      button:not(:last-of-type) {
        margin: 0 10px 0 0;
      }

    }

    &-col {
      padding: 0 16px;
    }

    .ant-form-item {
      &-label {
        line-height: 32px;
      }

      &-control {
        height: 32px;
        line-height: 32px;

        &-wrapper {
          flex: 1;
        }
      }
    }
  }
}
